# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment variables
.env

# Database & Storage
chroma_db/
*.db
*.sqlite3

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/

# Secret Environment Variables
.env
.venv/
__pycache__/